<div class="header-brand">
    <a class="brand-link" href="/">
        <span class="brand-name">TicketNow</span>
        <span class="brand-tagline">Intelligent IT Resolution</span>
    </a>
</div>

<nav class="header-nav">
    <NavLink class="nav-link" href="tickets" Match="NavLinkMatch.Prefix">
        🎫 Tickets
    </NavLink>
    <NavLink class="nav-link" href="knowledge-base" Match="NavLinkMatch.Prefix">
        📚 Knowledge Base
    </NavLink>
</nav>

<div class="header-user">
    <span>👤</span>
</div>
